{% extends "layout/bare.html" %}

{% block page %}
<!DOCTYPE html>
<html><head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src='/static/reactor.js'></script>
{% block head scoped %}
{% endblock %}
</head>
<body>
{%- set page_super=super -%}
{% block nav %}{% endblock %}
<div class='container'>
{% block body scoped %}{{ page_super() }}{% endblock %}
</div>
</body></html>
{% endblock %}
